.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.character-list {
  background-color: #b38899;
  padding: 0px 15px;
  margin: 8px;
}

.character {
  padding: 8px 0px;
  border-top: 1px solid black;
}